#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo img:hover {
  filter: drop-shadow(0 9px 8px white);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
#bg-img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('./assets/wipoutImg.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
opacity: .2;
z-index: 10;
}
.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 150px 1fr 50px;
  /* padding: 2% 5%; */

}
main {
  z-index: 100;
  overflow-y: auto;
  padding: 20px;
  padding-top: 5%;
  z-index: 100;
  overflow-y: auto;
  padding: 20px;
  padding-top: 5%;
  background-color: rgb(245 244 241);
}
header {
  z-index: 100;
  padding: 0 20px !important;
  margin: 0 !important;
}
.navbar {
  /* border: thin solid red !important; */
}
.menuNav {
  /* border: thin solid blue; */
  color: rgb(120, 110, 2) !important;
  font-size: 1.25rem;
  font-weight: bold;
}
.logo img{
  /* border: thin solid yellow; */
  height: 100% !important;
  /* width: 100% !important; */
  margin: 0 auto;
  padding: 0;
}
.menuTitle {
  /* border: thin solid blue; */
  color: rgb(201 3 3) !important;
  font-size: clamp(1.5rem, 5vw, 5.5rem);
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
}
.home{
  /* border: thin solid green; */
  height: fit-content !important;
  /* overflow:hidden; */
  padding-bottom: 5% !important;
}
.homeImg {

}
.blocktext {
  padding: 50px !important;
  font-size: 1.5rem;
  /* color: rgb(237 227 34); */
  background-color: #fdfdfd80;
}
